.icon
  &_cal
    background url(icon_cal.png) no-repeat
    // padding-top 8px
    width 15px
    height 16px
  &_pen
    background url(icon_pen.png) no-repeat
    width 15px
    height 15px
  &_zoom
    width 8px
    height 8px
    background url(icon_zoom.gif) no-repeat