.nav
  list-style none
  font-weight bold
  &__item
    display inline-block
    padding 2px 3px 0px 10px
    height 19px
    background url(menu_active.png) no-repeat 0px -38px
    // background-color red
    &:first-child
      background none
    // &:hover
    //   background-position: 0px -19px
    // &_state_active
    //   padding-left 7px
  &__link
    color #45ADA9
    // font 12pt Arial
    padding 2px 8px 1px 2px
    text-decoration none

.nav__item_active:first-child, nav__item:first-child:hover
  padding-left 9px
  // padding-right 9px
  background url(menu_active.png) no-repeat -1px -19px !important

.nav_top 
  .nav__item_active, .nav__item:hover
    padding-top 0px
    // padding-right 4px
    background-position: 0px -19px
    // margin-rigth 9px
    .nav__link
      color #943415
      display block
      height 16px
      background url(menu_active.png) no-repeat right 0px
      // padding 2px 8px 1px 3px

.nav_bottom
  // font-size 11px
  .nav__item
    background url(nav_bottom_sep.gif) no-repeat 0px 2px
    padding 0px 7px
    &:first-child
      background none
    .nav__link
      padding 0