.mylink
  font 11px Arial
  font-weight bold
  // color green
  color #943415
  text-decoration none
  &:hover
    text-decoration underline
  &_size_large
    font-size 16px
    font-weight normal
  &_pszoom
    background url(zoom.gif) no-repeat 190px 77px
  &_zoom
    background url(zoom.gif) no-repeat
  &_services
    font-size 10px
    font-weight normal
