$line-height = 20px
.article
  padding-bottom 35px
  &__title
    padding-bottom 8px
    font 30px Georgia
    color #0B636B
  &__header
    padding-bottom 6px
    font 18px Georgia
    color #943415
  &__text
    line-height 16px
    strong
      font-weight bold
  &__info
    // height 29px
    // background-color #F9F6D4
    margin-top 38px