@import 'bootstrap/mixins'
.services
  padding-bottom 50px
  clearfix()
  strong
    font-weight bold
  &__header
    margin-bottom 30px
  &__frame
    // padding-left 30px
    float left
    // display inline-block
    margin -20px 20px 0px 0px
    // diplay inline-block
  &__list
    padding 18px 0px