.header
  // font-size 40px
  &__menu
    position absolute
    top 33px
    right 18px
  &__logo
    position absolute
    top 75px
    right 205px
  &__auth
    position absolute
    top 149px
    right 10px
  &__slogan
    font 28px Georgia
    text-align center
    padding 0px 98px
    color #497F35
    position absolute
    bottom 1px
    left 0px

