.qcontact
  padding-bottom 30px
  &__header
    padding-bottom 9px
  &__input-group
    text-align right
    font-weight bold
    line-height 32px
  &__label
    float left
  &__input
    width 216px
    height 18px
    border 1px solid #D3CFA3
    background-color #F8F5D2
    font-size 10px
    color back
    text-indent 5px
  &__input-btns
    padding-top 10px
    padding-left 42px
  &__button
    width 94px
    height 19px
    margin-left 8px
    &:first-child
      margin 0