.auth
  &__name
    font 27px Georgia
    color #497F35
    padding-bottom 11px
  &__label
    position absolute
    width 1px
    height 1px
    margin -1px
    padding 0
    overflow hidden
    clip rect(0, 0, 0, 0)
    border 0
  &__input
    border 0
    color #BB9D59
    font-size 10px
    background-color #F9F6D4
    width 161px
    height 17px
    padding 0px 10px
    margin-right 25px
  &__submit
    font-size 16px
    color #AB8E4E
    padding-top 15px
    &-btn
      width 60px
      height 20px
      position relative
      left 16px
      top -2px