.content-menu
  height 29px
  width 100%
  background-color #F9F6D4
  display table
  &__list
    padding-left 11px
    height 29px
    display table-cell
    vertical-align middle
  &__item
    vertical-align middle
    padding-left 12px
    padding-right 9px
    display inline
    list-style none
    background url(content-menu__sep.gif) no-repeat 0px 0px
    &:first-child
      background none
      padding-left 0
    .icon
      padding-top 3px
      padding-right 10px
    &_type_author
      font-size 11px
      color #84733D
      
.content-menu_blockquote
  background none
  .content-menu__list
    padding-left 0px
