.photo-stock
  color red
  &__header
    // padding-top 7px
    padding-bottom 19px
  &__list
    list-style none
    padding-bottom 10px
  &__item
    padding-bottom 16px
  &__item-link
    display block
    text-align right
    // font 11px Arial
    // font-weight bold
    // color #943415
  &__item-img
    display block
    border 3px solid #D3CFA3
    margin-right 0
    margin-bottom 7px