@import 'bootstrap/mixins'

.content
  padding 41px 35px 32px 35px
  min-width 930px
  // max-width 1130px
  clearfix()
  &__layout
    float left
    width 100%
    margin-right -298px // sidebar width
  &__fluid-col
    margin-right 334px