.content-info
  height 29px
  // line-height 100px
  width 100%
  background-color #F9F6D4
  display table
  // &__list
  // padding-left 11px
  // padding-top 5px
  // height 29px
  // display table-cell
  // vertical-align middle
  &__item
    font-size 11px
    font-weight bold
    float left
    vertical-align middle
    // line-height 129px
    padding 6px 7px 0px 11px
    // padding-top 9px
    // padding-left 12px
    // padding-right 9px
    // display inline
    // display table-cell
    // display inline-block
    // list-style none
    background url(content-info__sep.gif) no-repeat 0px 8px
    &:first-child
      background none
      // padding-left 0
    .icon
      padding-top 3px
      padding-right 10px
    &_type_author
      font-size 11px
      font-weight normal
      color #84733D
      
.content-info_blockquote
  background none
  .content-info__item
     padding-left 0px
