@import 'nib'
global-reset()

.page
  font 12px Arial
  color #BB9D59
  background url('bg.png') repeat-x #FFFDE4
  min-width 935px
  // max-width 1004px
  margin auto
  padding 0px 35px 0px 34px
  // &:after
  //     background url('bg.png') repeat-x #FFFDE4
  position relative
  &:after
    content ' '
    display block
    position absolute
    top 0
    // bottom 0
    left 0
    width: 862px
    height 413px
    z-index -1
    background url(bg__pic.jpg) no-repeat top left
  // &__top
  //   position absolute
  //   // background url('bg__pic.jpg') no-repeat top left
  //   min-width 1004px
  //   max-width 1200px
  //   position relative
  //   height 452px