@import 'nib'
global-reset()

.page
  font 12px Arial
  color #BB9D59
  background url('bg.png') repeat-x #FFFDE4
  &__top
    // background url('bg__pic.jpg') no-repeat top left
    min-width 1000px
    max-width 1200px
    position relative
    height 452px