@import 'nib'

.btn
  color #943415
  
  // width 66px
  font-size 11px
  // vertical-align middle
  // text-align center
  border-radius 5px
  border 1px solid #ccc
  // shadow-stroke(1px solid #ccc)
  // padding 0px 0px 3px 0px
  background #ffffff /* Old browsers */
  background-image linear-gradient(to top, #FFF 0%, #EDEDED 49%, #F3F3F3 50%, #FFF 100%)